.enrollBtn {
    width: 100%;
    padding: 0.9rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--color-yellow);
    color: var(--color-black);
    box-shadow: 0 0 40px var(--color-yellow-extralight);
    border-radius: 50px;
    cursor: pointer;
    transition: all var(--transition-normal);
    border: none;
    position: relative;
    overflow: hidden;
}

.enrollBtn:hover {
    background: var(--color-black);
    color: var(--color-yellow);
    transform: translateY(-2px);
    box-shadow: 0 0 40px var(--color-yellow-extralight);
}

.enrollBtn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: none;
}


.btnText {
    position: relative;
    z-index: 1;
}